#root
{
    
  
    display: flex;
    flex-direction: column;
   
    height: 100%;
    align-items: center;
    justify-content: center;
}

body{
    background: rgb(187, 209, 235);
    background-image: url('bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}