.quiz-builder
{
    background: #f0f0f0;
    width: 75%;
    height: 70%;
    border-radius: 18px;
    box-shadow: 0 0 10px 10px rgba(209, 207, 207, 0.1);
    backdrop-filter: blur(10px);
}
.question-input
{
    background: #dfdddd;
    }
.question-input:focus
{
    background: #f0f0f0;
    box-shadow: 0 5px 15px 10px rgba(7, 7, 7, 0.1);
}