.container
{
    height: 250px;
    border-radius: 13%;
    background-color: rgb(146, 164, 179);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    
}


button
{
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    margin: 50spx;
    
    background-color: rgb(242, 242, 247);
}


.bt
{
    margin: 50px;
}