.container{
    width: auto;
    min-width: 400px;
    margin: auto;
    margin-top: 150px;
    background-color: rgb(250, 250, 250);
    color: rgba(0, 0, 0, 0.957);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 40px;
    height: auto;
}
.container h1{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
 text-shadow: #5e5858 1px 2px;
 color: #9dd1d3;
 scale:1.5;
    user-select: none;
}
.container hr{
    height: 2px;
    border: none;
    background: #000000;

}
div.container h2.que {
    user-select: none;
    font-size: 27px;
    font-weight: 500;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border: 1px solid #000000;
   padding: 4px;
    border-radius: 8px;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    background-color: #f0f0f0;
    color: #000000;
   
    min-width: 100px;
    padding-left: 5px;
}
.container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container ul li{
    display: flex;
    align-items: center;
    min-height: 40px;
    min-width: 200px;
    padding-left: 15px;
    border: 1px solid #000000;
    border-bottom:2px solid #000000 ;
   border-right:2px solid #000000 ;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    
}
.container ul li:hover
{
    border-bottom:1px solid #000000 ;
    border-right: 1px solid #000000;
  
}


.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: rgba(12, 1, 44, 0.957);
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
   
}
.container .index {
    margin: auto;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}
.container .correct{
    background: #0dad3a;
    border-color: #023a12;
}
.container .wrong{
    background: #f50606;
    border-color: #d45b33;
}